.Norrispic{
  width: 220px;
  
}


.norrisPicNString{
  
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4% 5%;
  
}

.norrisPicNString p{
  
  max-width: 70%;
  font-family: verdana;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  
}

.kickDiv{
  display: flex;
  justify-content: center;
}

.kickDiv button {
  margin-bottom: 2em;
}